<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="https://www.ultraq.net..nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
	<head>	
		<title>
			Customer :: Index
		</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="h2">Customer Index</div>

            <!-- <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-1">ID</th>
                            <th class="col-3">Name</th>
                            <th class="col-7">Description</th>
                            <th class="col-1 text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Makanan</td>
                            <td>Variant Makanan</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" title="Details">
                                        <i class="fas fa-info-circle"></i> 
                                    </a>
                                    <a class="btn btn-warning" title="Edit">
                                        <i class="fas fa-edit"></i> 
                                    </a>
                                    <a class="btn btn-danger" title="Delete">
                                        <i class="fas fa-trash-alt"></i> 
                                    </a>
                                </div>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Minuman</td>
                            <td>Variant Minuman</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" title="Details">
                                        <i class="fas fa-info-circle"></i> 
                                    </a>
                                    <a class="btn btn-warning" title="Edit">
                                        <i class="fas fa-edit"></i> 
                                    </a>
                                    <a class="btn btn-danger" title="Delete">
                                        <i class="fas fa-trash-alt"></i> 
                                    </a>
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
		</div>       
	</body>
</html>