.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 120px; /* Adjust as needed */
    margin-top: 10px; /* Adjust as needed */
}

.social-link {
    color: #ffffff; /* Adjust as needed */
    font-size: 20px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed */
}

.social-link:hover {
    color: #cccccc; /* Adjust as needed */
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.table thead th {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.table tbody td {
    padding: 12px;
}

.table .btn-group button {
    margin-right: 5px;
}