<Footer id="footer" class="bg-primary d-flex justify-content-between">
    <div class="text-white text-center m-auto">  
        &copy; 2024 - Xsis Java POS
    </div>
    <div>
        <span class="text-muted text-white">Sosmed Links</span>
        <a href="#" class="text-white me-4">Facebook
            <i class="fas fa-facebook-f"></i>
        </a>
        <a href="#" class="text-white me-4">Twitter
            <i class="fas fa-twitter"></i>
        </a>
        <a href="#" class="text-white me-4">Google
            <i class="fas fa-google"></i>
        </a>
        <a href="#" class="text-white me-4">Linkedin
            <i class="fas fa-linkedin-in"></i>
        </a>
    </div>

    </Footer>