<footer class="bg-primary text-white py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div>
            &copy; 2024 - Xsis Java POS
        </div>
        <div class="d-flex align-items-center">
            <span class="me-2">Follow Us:</span>
            <div>
                <a href="#" class="social-link">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-link">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

