<footer class="bg-primary d-flex justify-content-between">
    <div class="text-white my-3 mx-2">  
        &copy; 2024 - Xsis Java POS
    </div>
    <div>
        <span class="text-muted text-white">Follow Us:</span>
        <div class="social-links">
            <a href="#" class="social-link">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-link">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-link">
                <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-link">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</footer>
