<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="https://www.ultraq.net..nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout}">
	<head>	
		<title>
			JavaPOS :: Home
		</title>
		<!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
    	
		<script src="/js/jquery-3.7.1.min.js"></script>
    	<script src="/js/bootstrap.min.js"></script> -->
	</head>
	<body>
		<div layout:fragment="content">
			<div class="h2">Home Page</div>
		</div>
		<!-- <div th:replace="~{fragments/layout :: nav}"></div> -->
		<!-- <footer>
			&copy; 2024 - Xsis Java POS
		</footer> -->
	</body>
</html>